/*общие стили*/
body {
  margin: 0;
  padding: 0;
  font: 300 15px/30px 'Open Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__nav {
  position: relative;
  margin-top: 40px;
  padding: 40px 60px 0 60px;
  background-color: #f7e296;
}

.header__logo {
  position: absolute;
  top: -25px;
  left: 60px;
  font: 48px/50px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.header__logo:hover,
.header__logo:focus {
  color: rgba(0, 0, 0, .6);
}

.header__logo:active {
  color: rgba(0, 0, 0, .3);
}

.header__user-nav,
.header__site-nav,
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 540px;
}

.form-search p {
  margin: 0;
  padding: 0;
}

.search {
  width: 355px;
  padding: 15px 40px;
  color: #000;
  cursor: pointer;
  background: transparent url(../img/search.svg) left center no-repeat;
  border: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .3);
}

.search:-ms-input-placeholder {
  color: rgba(0, 0, 0, .3);
}

.search::-ms-input-placeholder {
  color: rgba(0, 0, 0, .3);
}

.search::placeholder {
  color: rgba(0, 0, 0, .3);
}

.search:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.search:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.search:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.search:hover::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search:active,
.search:focus {
  border-color: #000;
  outline: none;
}

.search-btn {
  padding: 14px 18px;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: border, color, opacity .4s;
  -o-transition: border, color, opacity .4s;
  transition: border, color, opacity .4s;
}

.search:active + .search-btn,
.search:focus + .search-btn {
  opacity: 1;
}

.search-btn:focus {
  opacity: 1;
}

.search-btn:hover {
  color: #fff;
  background-color: #000;
}

.search-btn:active {
  color: rgba(255, 255, 255, .3);
}

.header__user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__user-item {
  padding: 9px 30px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header__user-item:hover {
  opacity: .6;
  color: rgba(0, 0, 0, .6);
}

.header__user-item:active {
  opacity: .3;
  color: rgba(0, 0, 0, .3);
}

.header__login {
  margin-right: auto;
  padding-left: 30px;
  background: url(../img/user.svg) left center no-repeat;
}

.header__logout {
  margin-left: 15px;
  color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.header__logout:hover {
  opacity: 1;
  color: #000;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header__compare {
  background: url(../img/compare.svg) left center no-repeat;
}

.header__cart {
  padding-right: 0;
  background: url(../img/cart.svg) left center no-repeat;
}

.header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__site-item {
  margin: 0 40px 40px 0;
}

.header__site-item > a {
  font: 18px/24px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.header__site-item > a:hover,
.catalog__item > a:hover {
  color: rgba(0, 0, 0, .6);
}

.header__site-item > a:active,
.catalog__item > a:active {
  color: rgba(0, 0, 0, .3);
}

.header__catalog {
  position: relative;
  width: 500px;
}

.header__catalog::before,
.header__catalog::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, .3);
}

.header__catalog::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header__contacts {
  margin: 0 0 0 auto;
}

.header__catalog-box {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: -60px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1100px;
  padding: 0 0 35px 60px;
  background-color: #f7e296;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__catalog:hover .header__catalog-box,
.header__catalog:focus .header__catalog-box {
  opacity: 1;
}

.catalog__list {
  padding-right: 70px;
}

.main__headline {
  font: 47px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
}

.main__btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px 45px;
  font: 18px/24px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
}

.main__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  margin: -4px 0 0 0;
  background-color: #f0c52e;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main__btn:hover::after {
  top: 0;
  height: 100%;
  margin: 0;
}

.main__btn:active {
  color: rgba(0, 0, 0, .3);
}

.footer {
  background-color: #464646;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__logo {
  display: inline-block;
  margin: 0;
  font: 48px/50px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
  text-transform: uppercase;
  color: #ffc600;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.footer__logo:hover,
.footer__logo:focus {
  color: rgba(255, 198, 0, .6);
}

.footer__logo:active {
  color: rgba(255, 198, 0, .3);
}

.footer__user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 35px 0;
  padding: 0;
  line-height: 36px;
  list-style: none;
}

.footer__user-item {
  position: relative;
  padding-left: 60px;
}

.footer__user-link {
  color: rgba(255, 255, 255, .7);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.footer__user-link:hover {
  color: rgba(255, 255, 255, 1);
}

.footer__user-link:hover {
  color: rgba(255, 255, 255, .3);
}

.footer__user-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px;
  width: 13px;
  height: 12px;
  margin-top: -6px;
  background: url(../img/footer-user-sprite.svg) no-repeat;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.footer__user-login::before {
  background-position: 0 0;
}

.footer__user-compare::before {
  background-position: -13px 0;
}

.footer__user-cart::before {
  background-position: -26px 0;
}

.footer__user-link:hover::before {
  opacity: .6;
}

.footer__user-link:active::before {
  opacity: .3;
}

.footer__account {
  padding-right: 20px;
}

.footer__logout {
  color: rgba(255, 255, 255, .3);
}

.footer__wrapper-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__adds {
  margin: 0;
  padding: 0;
  color: #fff;
}

.footer__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 440px;
  margin: 0 0 50px 0;
  padding: 0;
}

.footer__site-link {
  font: 18px/24px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.footer__site-link:hover {
  color: rgba(255, 255, 255, .6);
}

.footer__site-link:active {
  color: rgba(255, 255, 255, .3);
}

.footer__phone {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
}

.footer__wrapper-end {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__wrapper-end::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer__socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 160px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.footer__socio-link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../img/socio-sprite.svg) no-repeat;
  opacity: .3;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.footer__socio-fb {
  background-position: 0 0;
}

.footer__socio-in {
  background-position: -32px 0;
}

.footer__socio-tw {
  background-position: -64px 0;
}

.footer__socio-link:hover {
  opacity: .6;
}

.footer__socio-link:active {
  opacity: .1;
}

.footer__htmlacademy-logo {
  display: inline-block;
  width: 27px;
  height: 35px;
  margin: 0 0 0 auto;
  background: url(../img/htmlAcademy-logo.svg) no-repeat;
  cursor: pointer;
}

.footer__htmlacademy-logo:hover {
  opacity: .6;
}

.footer__htmlacademy-logo:active {
  opacity: .3;
}

.footer__htmlacademy-logo::before {
  content: "HTML Academy";
  position: absolute;
  bottom: 15px;
  right: 25px;
  width: 170px;
  font: 20px/24px Gilroy, "Roboto Condensed", "Arial Black", sans-serif;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: -5;
}

.footer__htmlacademy-logo:hover::before {
  color: rgba(255, 198, 0, .6);
  width: 170px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 1;
}