@font-face {
  font-family: Gilroy;
  src: url('gilroyextrabold-webfont.eot') format("embedded-opentype");
  src: url('gilroyextrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('gilroyextrabold-webfont.woff2') format('woff2');
}

